body {
    margin: 0;
    padding: 0;
}

/* ERROR MESSAGE */
/* .offset-3 {
    margin-left:0;
} */
/* .col-6 {
    width: 100%;
} */

.addToCart {
    border: 1px solid #e60023;
    color: #e60023;
    background: transparent;
    border-radius: 999px;
    padding: 10px 18px;
    transition: all 0.25s ease;
    letter-spacing: 0.5px;
    font-weight: 500;
    /* transform: translateY(-10px); */
}

.addToCart:hover {
    /* transform: translateY(-10px); */
    transform: translateY(-5px);
    background: #e60023;
    color: white;
}

div#shop {
    /* background: linear-gradient(180deg, #0f0f0f 0%, #1a1a1a 100%), url(/assets/images/carbon-fiberbackground.jpg); */
    /* background: linear-gradient(to top, black, transparent); */
    /* background:linear-gradient(180deg, #0f0f0f 0%, #1a1a1a 100%), url(/assets/images/carbon-fiberbackground.jpg); */
    /* border-top: 1px solid transparent; */
    /* border-top: groove; */
    /* box-shadow: 0 0px 80px rgba(15, 15, 15); */
}

/* Hero Section */
.hero-section {
    width: 100%;
    height: 100vh;
    /* height: 80vh; */
    /* background-color: red; */
    /* background-color: rgb(128, 128, 128, 0.3); */
    /* background: linear-gradient(180deg,#0f0f0f,#1c1c1c); */
    /* background: url('/assets/images/carbon-fiberbackground.jpg');
    background-size: 130vh;
    background-repeat: no-repeat;
    opacity: .8; */
    background: linear-gradient(180deg, #0f0f0f 0%, #1a1a1a 100%),
                url('/assets/images/carbon-fiberbackground.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
html, body {
    overflow-x: hidden;
}
.hero-section::after {
    content: "";
    position: absolute;
    inset: 0;
    /* background: url('/assets/images/noise.png'); */
    opacity: .05;
    pointer-events: none;
    background: repeating-linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.02) 0px,
                rgba(255, 255, 255, 0.02) 1px,
                transparent 1px,
                transparent 2px
);
/* background:
    repeating-linear-gradient(
      0deg,
      rgba(255,255,255,0.02) 0px,
      rgba(255,255,255,0.02) 1px,
      transparent 1px,
      transparent 2px
    ); */
}

.hero-content {
    position: relative;
}

.hero-center {
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

/* .hero-sweater {
    width: 150%;
   
    transform: rotate(30deg);
    
} */

/* Popup Overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Dark overlay */
  backdrop-filter: blur(4px);     /* Optional blur */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

/* Title Style */
.popup-brand {
    margin-left: 5px;
    /* color: white; */
    align-items: baseline;
   
}

/* AUTH SIGN IN POPUP */
/* Modal Box */
.popup-modal {
  background: #fff;
  padding: 2rem 1.5rem;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  margin: 10rem auto;
}

/* Close Button */
.popup-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Buttons */
.popup-actions {
  margin-top: 1.5rem;
}

.popup-btn {
  display: inline-block;
  margin: 0 0.5rem;
  padding: 10px 20px;
  /* background-color: #007bff; */
  /* background-color: #f83636; */
  background-color: rgba(226, 23, 23, 0.8);
  /* background-color: #000000; */
  color: white;
  text-decoration: none;
  border-radius: 6px;
  /* transition: background 0.3s ease; */
   transition: all 0.3s ease;
}

.popup-btn:hover {
  /* background-color: #0056b3; */
  /* background-color: rgba(226, 23, 23, 0.8); */
   background-color: #f83636;
  transform: translateY(-2px);
  /* background: linear-gradient(to right, #808080, #383737); */
    box-shadow: 0 8px 20px rgba(128, 128, 128, 0.6);
}

.popup-btn.alt {
  /* background-color: #28a745; */
  /* background-color: #ff0000; */
  /* background-color: rgb(63, 62, 62); */
  /* background-color: #000000; */
  background-color: rgb(63, 62, 62);
}

.popup-btn.alt:hover {
  /* background-color: #1e7e34; */
  /* background-color: #f83636; */
  /* background-color: rgb(63, 62, 62); */
  background-color: #000000;
  box-shadow: 0 8px 20px rgba(128, 128, 128, 0.6);
}

/* sign-in alert */
.sign-in {
  margin-top: 2rem;
}
/* END AUTH SIGN IN */
#deutschland-shop, .auto-text {
    color: black;
}
.logo-container-shop {
    /* margin: 20px 10px 10px 20px; */
    /* margin-left: 20px; */
    margin-top: 10rem;
    /* margin-right: -50px; */
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items:center;
    height: 100vh;
    /* height: 80vh;
    max-width: 1300px;
    margin: auto;
    padding: 0 20px; */
    /* gap: 30px; */
    gap: 32px;
    padding: 40px 16px;
    max-width: 1200px;
    margin: auto;
}

.hero-text {
    position: relative;
    z-index: 9999;
}

.hero-text h1 {
    /* font-size: 56px; */
    /* font-size: 36px; */
    color: white;
    /* margin-top: 3rem; */
    /* font-family: 'Space Grotesk'; */
    font-style: italic;
    text-transform: uppercase;
    /* font-size: clamp(32px, 5vw, 64px); */
    font-size: clamp(26px 8vw, 48px);
    letter-spacing: 2px;
    font-weight: 700px;
}

.tagLine {
    /* font-size: 20px; */
    font-size: 18px;
    opacity: .08;
    color: #cfcfcf;
    margin: 10px;
}

.hero-product {
    display: flex;
    justify-content:center;
    align-items:center;
    /* overflow: hidden; */
    /* position:relative; */
    position: absolute;
}

.hero-product::after {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 200px;
    height: 40px;
    background: radial-gradient(ellipse, rgb(0, 0, 0, 0.6) transparent);
    filter: blur(20px);
}

.scroll-indicator {
    position: absolute;
    /* bottom: 40px; */
    margin-top: 20px;
    left: 50%;
    width: 20px;
    height: 32px;
    border: 2px solid #aaa;
    border-radius: 20px;

    transform: translateX(-50%);
    /* width: 22px;
    height: 36px;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 20px; */
}

.scroll-indicator::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 50%;
    width: 4px;
    height: 6px;
    background: white;
    border-radius: 2px;
    transform: translateX(-50%);
    animation: scroll 2s infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: translate(-50%, 0);
}
    50% {
        opacity: 1;
}
    100% {
        opacity: 0;
        transform: translate(-50%, 12px);
}
}

.product-light {
    position: absolute;
    width: 420px;
    height: 420px;
    width: 280px;
    width: 580;
    height: 280px;

    background: radial-gradient(circle, rgba(255, 0, 0, 0.35) 0%, transparent 70%);
    filter:blur(120px); 
    filter: blur(80px);
bottom: 0;
margin-bottom: 5rem;
}

.hero-sweater {
    /* width: 520px; */
    /* width: 120px; */
    /* width: 200px; */
    /* width: 420px;
    max-width: 90%; */
    /* position: absolute;
    bottom: 0; */
    margin-bottom: 5rem;
    /* width: 100%; */
    width: 320px;
    /* max-width: 420px; */
    max-width: 300px; 
    transform: rotate(10deg);
    /* transform-origin: center; */
    /* position: absolute;
    top: 0; */
    margin-top: 4rem;
    transform: rotate(15deg);
/* filter: drop-shadow(0 40px 60px rgba(0, 0, 0, .7)); */
animation: float 6s ease-in-out infinite;
/* filter: blur(100px) */
}

@keyframes float {
    0% {
        transform: rotate(15deg) translateY(0px);
}
50% {
        transform: rotate(15deg) translateY(-12px);
}
100% {
        transform: rotate(15deg) translateY(0px);
}

}

/* .hero-sweater{
width:600px;
margin-top: 50px;
max-width:90vw;
transform:rotate(18deg);
filter:drop-shadow(0 40px 50px rgba(0,0,0,0.6));
animation: float 6s ease-in-out infinite;
} */

.hero-glow {
    position: absolute;
    width: 500px;
    height: 500px;
    background:radial-gradient(circle,#d40000 0%, transparent 70%);
    filter:blur(120px);
    opacity: 0.25;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
}

@keyframes float {
    0% {
        transform:rotate(18deg)
        translateY(0px);
}
    50% {
        transform:rotate(18deg)
        translateY(-10px);
}
    100% {
        transform:rotate(18deg)
        translateY(0px);
}
}

@keyframes hover {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.hero-tagline {
    position: absolute;
    top: 0;
    margin-top: 28rem;
    color: white;
}

.tagline {
    font-size: 22px;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Space Grotesk'; */
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    opacity: 1;
    margin-top: 25rem;
    animation: fadeIn 2s ease-in;
}

.hero-cta{
  /* display:inline-block;
  margin-top:20px;
  margin-left: 20px; */
    display: block;
    margin: auto 2rem;
  padding:14px 32px;
    /* padding: 10px 12px; */
  /* background:#d40000; */
    background: linear-gradient(135deg, #d40000, #8b0000);
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    color: #fff;
    /* box-shadow: 0 10px; */
  /* color:white;
  text-decoration:none;
  font-family:'Space Grotesk';
  font-weight:600;
  border-radius:6px;
  transition:all .3s ease; */
}

.hero-cta:hover {
    background: #ff0000;
    transform: translate(-3px);
    box-shadow: 0 20px 40px rgba(212, 0, 0, 0.6);
}

/* .section-divider {
    width: 80px;
  height: 2px;
  background: red;
} */
.section-divider{
width:80px;
height:2px;
background:#d40000;
margin:60px auto;
border-radius:2px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
}
    100% {
        opacity: 1;
}
}
.offset-3 {
    /* margin-left: 25%; */
    margin-left: auto;
    margin-right: auto;
}
h4.alert-heading::after {
    content: 0;
    width: 0;
}

h1 {
    text-align: center;
    margin: 1rem;
    margin-bottom: 3rem;
    font-family: 'Changa', sans-serif;
}

/*underline styling*/
h4 {
    position: relative;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
    font-family: 'Changa', sans-serif;
}

h4::after {
    content: "";
    position: absolute;
    border-top: 3px solid rgb(0, 0, 0);
    left: 0;
    right: 0;
    bottom: -10px;
    height: 8px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

p.text {
    padding: 10px
}

.carousel-caption.d-md-block {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    z-index: 3;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

/* features section */
.features, .section {
    margin-bottom: 3rem;
}

img.makesBlue {
    width: 100%;
}

ul {
    margin-left: 3rem;
}


.carousel-indicators li {
    width: 5px !important;
    height: 5px !important;
    border-radius: 100%;
}

.carousel-indicators {
    margin-top: 11rem;
    bottom: initial;
    font-size: 0;
}

.textBox {
    animation: slide-down 2s;
}

p.textBox {
    margin-top: 2.5rem;
}

@keyframes slide-down {
    from {
        opacity: 0.2;
        line-height: 200px;
}

    to {
        opacity: 1;
        line-height: 25px;
}
}

h5 {
    font-size: initial;
    text-align: center;
    margin-bottom: 3rem;
    font-family: 'Changa', sans-serif;
}

/* sign in name styles */
.signInName {
        color: white;
        margin-bottom: 0.5rem;
        margin-right: 5rem;
}


/* p {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Changa', sans-serif;
    font-style: italic;
} */

/* Hero Image */
.image {
    margin-bottom: 2rem;
}


/*Shapes*/

.testomonials::before {
    border: 2px solid black;
    width: 30px;
}

/* try this different shape */
.testimonials {
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
    border-top: 100px solid white;
    background-color: blue;
    border-bottom: 120px solid white;
    border-top-color: lightblue;
    border-bottom-color: red;
    margin-bottom: 20px;
    
}

.reviewContainer {
    background-color: grey;
    background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgba(0,0,0,1.0)), /* Top */
    color-stop(0, rgba(0,0,0,0.0)) /* Bottom */
);
}

p.reviews {
    font-size: 12px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 20px;
    overflow: hidden;
    max-height: 220px;
    min-height: 220px;
}

span#reviews {
    display: block;
    font-size: 10px;
    margin-top: 1rem;
    color: rgb(255, 255, 255);
}

/*review images*/
img.carouselImage {
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border-radius: 50%;
    height: 150px;
}

.carousel-control-prev-icon {
    margin-right: 10px;
}

.carousel-control-next-icon {
    margin-left: 10px;
}

.carousel-control-next, .carousel-control-prev {
    bottom: initial;
    margin-top: 5rem !important;
    
}

p.r {
    color: white;
    font-size: 10px;
    text-align: center;
    display: flex;
    margin-top: 2px;
    flex-direction: column;
    align-items: center;
}


img.Test {
    border-radius: 50%;
    margin-top: 5rem;

}

/*FORM*/
/* form {
    padding: 20px;
margin: 0 1rem;
} */

.contactUs {
    background-image: url('/assets/images/blackbmwbg-removebg-preview.png');
    background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgba(0,0,0,0.0)), /* Top */
    color-stop(0, rgba(0,0,0,1.0)) /* Bottom */
);
}

img.blackBmw {
    width: 100%;
}

h4.contact {
    font-size: 15px;
    margin-top: -30px;
}

label {
    /* color: white; */
    text-align: center;
}

.col-sm-10 {
    margin-bottom: 1.5rem;
}

/* submit button */
.btn-default {
    border: 2px solid #000;
    box-shadow: -3px 3px grey;
}

/* Icons */
 .facebook img {
    width: 20px;
background-color: white;
border: 1px solid white;
border-radius: 8px;
}

i {
    font-family: FontAwesome;
    font-style: normal;
}

a {
    text-decoration: none;
}

.d-none {
    display: initial;
}

.cart-icon {
    position: relative;
}

/*images*/
img.cxservice {
    width: 100%;
    margin: 20px 0 20px;
}

img.oemparts {
    width: 100%
}

img.service {
    width: 100%
}

img.makes {
    width: 100%;
}

/* footer styles */
section.d-flex.justify-content-between.p-4 {
    background-color: #4d4d4d !important;
}

.container.text-center.text-md-start.mt-5 {
/* background-color: #4D4545; */
background-color: rgb(0, 0, 0);

}
.mt-3 {
    margin-top: 0rem !important;
}

.mt-5 {
    padding-top: 3rem;
    margin-top: 0rem !important;
}

.text-center.p-3 {
    background-color: #4d4d4d !important;
}

/* MAP IMAGE */
#map {
    width: 100%;
}

/* Login Form headings */
.h5.card-title.text-center {
    margin-top: 2rem;
}

/* Register Form headings */
h5.card-title.text-center {
    margin-top: 2rem;
}

/* Connect flash styles */
/* Success */
.alert.alert-dark.card-body.w-100.h-100 {
    text-align: center;
}
/* Error */
.alert.alert-danger {
    text-align: center;
}

/* Careers Page */
h3 {
    text-align: center;
    padding: 1.5rem;
    font-size: 20px;
    line-height: 2rem;
    background-color: rgb(128, 128, 128);
    text-shadow: 5px 10px rgb(169, 169, 169)
}

.links {
    background-color: grey;
    font-size: 10px;
    text-align: center;
}

p.main-heading,
.description {
    padding: 1.5rem;
}

p.careers {
    font-style: italic;
    margin: 1.5rem;
    text-align: center;
    color: rgb(255, 0, 0);
}


img.handshake,
img.certificate,
img.increase {
    width: 5rem;
    margin-left:auto;
    margin-right: auto;
    display: flex;
}

/* careers page form input element */
input#image {
    min-width: min-content;
    font-size: 11px;
}
label.input-group-text {
    font-size: 11px;
}

/* SHOP PAGE */
/*  side panel toggle */
.wrapper {
    position: relative;
border-bottom: 1px solid rgb(0, 0, 0);
}

.drop-icon {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

img.magnifyingGlassImage {
    width: 15px;
}

.main {
    border: 2px solid black;
    width: 50%;
    height: 50vh;
    position: absolute;
    top: 0;
    z-index: 2;
    background-color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a.link {
    margin-top: 1rem;
}

span.side-panel-toggle {
    position: absolute;
    right: 0;
    margin-right: .5rem;
    color: rgb(0, 0, 0);
}

img.greySweater,
img.blackSweater,
img.blueSweater {
    width: 100%;
}

/* #card-accessory box shadow */
/* #card-accessory {
    box-shadow: 5px 5px rgb(129, 129, 129);
} */

/* image in cart */
img.toCart {
    width: 100%;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

/* Search Page */
header {
    line-height: 5.5vh;
    background-color: lightgrey;
    text-align: center;
}

input#search {
    width: 80%;
    margin: 2rem 0;
    text-align: center
}

label {
    text-align: center;
    display: block;
    margin-bottom: 1rem;
}

.searchContents {
    display: flex;
    justify-content: space-around;
}

.shirts,
.sweaters,
.beenies {
    border: 2px solid black;
    width: 80px;
    height: 80px;
    background-color: grey;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cartContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* margin-top: 100%; */
    /* margin: 2rem; */
    margin: 5rem 0;
}

span.close {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: .5rem;
    color: black;
}

/* CART LOGO */
.hero-section-cart {
    background-color: #000;
    height: 50vh;
}

.shoppingcart-mainImage {
    width: 100%;
    filter: blur(0px);
    opacity: .3;
    position: absolute;
    height: 50vh;
    object-fit: cover;
}

/* .deutchland.cart {
    color: #000000;
} */
.flag-container-cart {
    margin-top: 2.3px;
    margin-left: -7px;
}

.c, .a-cart, .r, .t-cart {
    /* color: #000000; */
    color: #fff;
    font-size: 10px;
    padding-right: 16px;
}

.black.autohaus.cart, .yellow.autohaus.cart, .red.autohaus.cart {
    height: 10px;
/* margin-bottom: 1px; */
/* margin-bottom: -3px; */
/* margin-bottom: -7px; */
}

/* .flag-container {
    margin-top: 0px;
    margin-left: -6px;
    margin-left: -7px;
} */

/* div#exclusive-shop {
    margin-left: -6px;
    margin-left: -7px;
} */

/* Shopping cart */

h1.shoppingcart {
    margin-bottom: initial;
}

.cart-row {
    /* display: flex; */
    /* border-bottom: 1px solid black; */
    /* align-items: center; */
    /* justify-content: space-around; */
    /* border: 1px solid #ff0000; */
    /* box-shadow: 4px 8px 20px; */
    box-shadow: 4px 8px 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 80%;
    margin: 2rem auto;
    /* border-radius: 20px; */
    padding: 1rem;
}


span.cart-item-id {
    display: none;
}

p.cart-item-name {
    margin: 1rem 0;
}

input.cart-quantity-input {
    /* width: 3rem; */
    /* margin-right: 0.5rem; */
    /* margin: 0.2rem; */
    margin: 0 .5rem;
    /* width: 2rem; */
    width: 4rem;
    border-radius: 20px;
    border: 2px solid #ff0000;
    /* height: 1.5rem; */
    text-align: center;
    font-size: 10px
}

#decrement, #increment, .increase {
    /* height: 1.5rem;
    width: 1.5rem; */
    height: 20px;
    width: 20px;
    border: 1px solid #ff0000;
    border-radius: 50px;
    background-color: #ff0000;
    color: #fff;
    /* font-size: 15px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-selection {
    display: flex;
}

.quantity-select-div {
    display: flex;
    justify-content: space-around;
}

/* shoppingcart page img styles */
img.cart-item-image {
    width: 100%;
    border-radius: 5%;
    /* margin: 2rem auto; */
}

/* shoppingcart page cart-item-name styles */
p.cart-item-name {
     font-size: 8px;
}

.cart-item-price {
    display: flex;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #000;
}

.cart-item-description, .cart-size, .cart-color {
    /* text-align: center; */
    padding: 0 1rem;
    font-size: 12px;
}

.cart-size, .cart-color {
    margin: 0;
}

.formSubmit {
    margin-top: 1rem;
}

.cart-tiem-price, .cart-item-title {
    color: #ff0000;
}

.quantity-select {
    display: flex;
    align-items: center;
}

.cart-item.cart-column {
    display: flex;
    align-items: center;
    /* width: 20%; */
    /* width: 30%; */
    /* min-width: 10%;
    max-width: 15%; */
    /* width: 6.2rem; */
    /* width: 120px;
    display: block; */
    margin: 2rem auto;
    background: radial-gradient(circle, rgba(255, 0, 0, 0.35) 0%, transparent 50%);
}

.detail-div {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

span.cart-item-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

p.cart-item-name {
    font-size: 10px;
}

.cart-quantity.cart-column {
    /* display: flex;
    align-items: center; */
    /* justify-content: center; */
    /* margin-right: 0.5rem;
    margin-right: 1rem;
    margin-left: 1.5rem;
    align-items: center; */
}

/* remove button styles */
button.rmBtn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-size: 10px;
    color: #fff
}

/* button danger */
button.btn.btn-danger {
    /* font-size: 13px; */
    font-size: 10px;
    background-color: #ff0000;
}

/* span Qty */
span.qty {
    font-size: 10px;
    color: black;
    display: block;
    text-align: center;
}

/* item price and quantity styles */
.flex4 {
    display: flex;
    justify-content: space-around;
}



span.item, span.price, span.quantity {
    color: black;
    /* display: inline-block; */
    /* margin: 1.2rem; */
    /* margin: 1.5rem; */
    font-family: 'Changa', sans-serif;
    margin: 2rem;
    margin-bottom: 8px;
    /* font-size: 10px; */
}

/* span.price */
/* span.price {
    margin-left: 3.2rem
} */

/* span.item::after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: black;
} */

/* span.price::after {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background-color: black;
} */

/* span.quantity::after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background-color: rgb(0, 0, 0);
} */

/* span.item, span.price, span.quantity {

} */

/* cart items */
.cart-items {
    font-family: 'Changa', sans-serif;
}

h2.cart-title {
    text-align: center;
    margin: 2rem;
    font-size: 40px;
    font-family: 'Changa', sans-serif;
}

.cart-first {
    color: #ff0000;
}

/* purchase btn */
.btn-purchase {
    margin-left: auto;
    margin-right: 0.5rem;
}

.cart-total {
    /* margin-bottom: 10px;
    font-size: 20px; */
    /* margin-top: 2rem;
    margin-bottom: 1rem; */
margin: 1rem 2rem;
/* display: flex;
justify-content: flex-end;
align-items: center; */
    font-family: 'Changa', sans-serif;
}

span.totalPrice {
    border: .5px solid red;
    border-radius: 20px;
    padding: 5px 10px;
    color: white;
    background-color: red;
}

/* span.totalQuantity {
    border: .5px solid red;
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
    background-color: red;

} */

span.totalQuantity {
    color: initial;
}

.orderSummary {
    font-size: 20px;
    padding: 0px 2rem;
    background-color: initial;
    text-shadow: none;
    text-align: left;
}

.subtotal-div, .items-div, .shipping-div, .taxes-div, .total-div {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}

.cartSummary-hr {
    margin: 16px;
    margin-top: 0;
}

span.cart-title {
    margin-top: 5px;
    margin-right: 10px;
}

.cart-total-title {
    margin-left: 0.5rem;
    color: rgb(0, 0, 0);
}

.cart-total-price {
    color: rgb(0, 0, 0);
    margin-top: 5px;
}

/* order summary div */
.order-summary-div {
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem;
    /* box-shadow: 4px 8px 15px; */
    box-shadow: 4px 8px 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* remove all btn styles */
button.rmvAll {
    /* margin-right: 0.5rem; */
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* margin-top: 1rem;
    margin-bottom: 2rem; */
}

/* purchase button styles */
button.btn.btn-purchase {
    /* background-color: rgb(12, 12, 251 / 80%); */
    /* background-color: rgb(12, 12, 251, 80%); */
     /* background-color: rgb(15, 94, 230); */
     background-color: #000;
    color: rgb(255, 255, 255);
    /* float: right; */
    font-size: 10px;
    /* margin-right: 1rem; */
    margin: 5px 0;

}


/* Shop styles */
/* button alignment */
/* .accessory {
    text-align: center;
} */

/* cart popup */
.cartPopup1 {
    display: none;
}

.popup-top, .close-btn {
    font-weight: 600;
}

@keyframes slideUp {
    /* 0% {
        transform: translateY(0px);
        opacity: 0;
} */

    100% {
        transform: translateY(-10px);
        opacity: 1
}
}

/* shop background 3/30/2026 */
/* div#shop {
    background: linear-gradient(135deg, #d40000, #8b0000);
    background: linear-gradient(135deg, #000, #8b0000);
    background: linear-gradient(135deg, #0a0a0a 0, #1a0004 100% );
    width: 100%;
} */

/* Products */
.main-products {
    width: 100%;
    height: 120px;
    /* object-fit: cover; */
    object-fit: contain;
    /* border-radius: 20px; */
    filter: drop-shadow(2px 4px 8px rgb(0,0,0, 0.06));
    /* animation: float 6s ease-in-out infinite; */
    /* box-shadow: 0 2px 8px rgba(0,0,0,0.06),
                0 8px 24px rgba(0,0,0,0,0.08); */
    /* transition: all 0.03s ease; */
}

.main-products:hover {
    /* transform: translateY(-10px); */
    /* box-shadow: 0 6PX 6PX rgb(0, 0, 0, 0.06), 0 16px 40px rgb(0, 0, 0, 0.08); */
    /* filter: drop-shadow(2px 4px 6px black); */
    /* box-shadow: 
    0 6px 16px rgba(0,0,0,0.08),
    0 16px 40px rgba(0,0,0,0.12); */
    cursor: pointer;
    /* animation: float 6s ease-in-out infinite; */
    animation: hover 2s ease-in-out infinite;
     /* box-shadow: 0 2px 8px rgba(0,0,0,0.06),
                0 8px 24px rgba(0,0,0,0,0.08); */
}

/* shop page mug img styles */
imblackMug, imgredMug {
    /* width: 100%; */
    /* width: 50%; */

    width: 100px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
    filter: drop-shadow(2px 4px 6px black);

    /* box-shadow: 0 20px 40px rgba(0,0,0,0.15); */


    box-shadow: 0 2px 8px rgba(0,0,0,0.06),
                0 8px 24px rgba(0,0,0,0,0.08);
    transition: all 0.3s ease;

    /* background: #fff; */

    /* background: linear-gradient(145deg, #ffffff, #f7f7f7);
    border-radius: 12px; */

    /* padding: 16px;
     width: 100%;
    height: 220px;
    object-fit: contain;
    transition: transform 0.4s ease; */
}

img.blackMug::after, img.redMug::after {
    content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.03), transparent);
  border-radius: 12px;
}

/* .blackMug, .redMug img {
    width: 100%;
    height: 220px;
    object-fit: contain;
    transition: transform 0.4s ease;
}

.blackMug:hover, .redMug:hover img {
    transform:scale(1.05);
} */

img.blackMug:hover, img.redMug:hover {
    transform: translateY(-6px);
    box-shadow: 
    0 6px 16px rgba(0,0,0,0.08),
    0 16px 40px rgba(0,0,0,0.12);
  /* transition: all .3s ease; */
    filter: drop-shadow(2px 4px 6px black);
    /* animation: slideUp 1s ease forwards; */
    /* transition: transform: scale(1.05); */
    /* transform: scale(1.05); */
    cursor: pointer;
}

/* new corrections to shop page colors radio buttons 1/23/2026*/
#radio-black {
    background-color: black;
    width: 20px;
    height: 20px;
    /* margin: auto;
    display: block; */
}

.swatch {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: 0.2s ease;
}

.color-option input:checked + .swatch {
  box-shadow: 0 0 0 4px black;
  transform: scale(1.1);
}

#radio-grey {
    background-color: grey;
    width: 20px;
    height: 20px;
}

#radio-blue {
    background-color: blue;
    width: 20px;
    height: 20px;
}

#radio-red {
    background-color: red;
    width: 20px;
    height: 20px;
}

/* .radio-flex {
    display: flex;
    justify-content: center;
} */

.form-flex {
    display: flex;
    margin: 5px 10px;
}

.form-check-input {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.2s ease;
}

.form-check-input:checked {
    box-shadow: 0 0 0 1px black;
    transform: scale(1.1);
}

.itemAdded {
    display: none;
}

.itemActive {
    display: block;
    /* position: absolute; */
    position: fixed;
    top: 0;
    border: 1px solid #000000;
    /* width: 90%; */
    padding: 1rem;
    /* margin: 5rem 2rem; */
    margin: 4rem 1rem;
    /* background: #fff; */
    /* background: #fbf6eb; */
    background-color: #fff;
    border-radius: 5px;
    z-index: 9999;
    cursor: pointer;

}

/* .displayNone {
    display: none;
} */

@keyframes popup {
    0% {
        /* transform: scale(1); */
        opacity: 0;
}

    100% {
        /* transform: scale(1.1); */
        opacity: 1;
} 
}

.productCard::after {
  content: "";
  /* position: absolute; */
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.03), transparent);
  border-radius: 12px;
}

.addToCart {
    border: 1px solid #e60023;
color: #e60023;
    background: transparent;
    border-radius: 999px;
    padding: 10px 18px;
    transition: all 0.25s ease;
    letter-spacing: 0.5px;
    font-weight:500;
    /* transform: translateY(10px) */
}
/* Add to cart btn style*/
addToCart {
    /* border: 1px solid #ff0000; */
    border: 1px solid #e60023;
    color: #e60023;
    background: transparent;
    border-radius: 999px;
    padding: 10px 18px;
    transition: all 0.25s ease;
    letter-spacing: 0.5px;
    font-weight: 500;
    /* opacity: 0; */
    transform: translateY(10px);
    /* border: none; */
    /* background-color: red; */
    /* background-color: #ffffff; */
    /* color: white; */
    /* color: #ff0000;
    font-size: 12px;
    font-weight: bold; */
    /* text-transform: uppercase; */
    /* padding: 5px 20px;
    border-radius: 20px; */
}

addToCart:hover {
    opacity: 1;
    transform: translateY(0);
    background-color: #ff0000;
    color: #ffffff;
    animation: popup 1s ease-out;
    /* animation: slideUp 1s 1s ease-in; */
    cursor: pointer;
    
}

.confirmAdd {
    margin-left: 5px;
}

.confirmAdd:hover {
    background-color: #ff0000;
    color: #fff;
}

.confirmAdd.addToCart.shop {
    background-color: red;
    color: white;
    /* padding: 5px 12px; */
    padding: 5px 25px;
    font-size: 12px;
}

.confirmPrice {
    /* display: none; */
    font-size: 10px;
    padding: 0 10px;
    margin: 0;
}

.description-container {
    /* margin-bottom: 5px; */
    margin: auto;
    /* padding: 0 12px; */
    padding: 5px 0;
    font-size: 10px;
    width: 100px;
}

.description-title, .sweater {
    /* width: 100px;
    font-weight: bold; */
    /* font-family: sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.shop-item-price {
    font-weight: 600;
    border: 1px solid #e60023;
    color: #fff;
    background-color: #e60023;
    border-radius: 20px;
    text-align: center;
}

/* .description-title {
    width: 100px;
    font-weight: bold;
} */

.sweater {
    margin: 5px 0;
}

.card-body.accesories {
    /* padding: 1rem;
    margin: auto; */
    margin: .5rem;
}

/* .item-container {
    display: flex;
} */

.options {
    /* width: 50px; */
    /* width: 100px; */
    width: 120px;
    display: block;
    margin: auto;
    /* background: radial-gradient(circle, rgba(255, 0, 0, 0.35) 0%, transparent 70%) */
}
img.pants.blackMug.Mugs.shop-item-image {
    height: 10rem;
}

/* .cartPopup {
    display: none;
} */

.popup-top {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.popup-title {
    cursor: pointer;
}

.underline-popup {
    border: 1px solid rgb(0, 0, 0);
}

.product-light-popup {
    position: absolute;
    /* width: 420px;
    height: 420px;
    width: 180px;
    width: 580;
    height: 780px; */
    width: 380px;
    height: 280px;
    background: radial-gradient(circle, rgba(255, 0, 0, 0.35) 0%, transparent 40%);
    /* filter: blur(120px);
    filter: blur(50px); */
    filter: blur(30px);
    /* z-index: 9999; */
    bottom: 0;
    /* left: 0; */
    /* right: 0; */
    margin-bottom: 25rem;
}

img.popupImg {
    /* width: 100%; */
    width: 80%;
    display: block;
    margin: auto;
    /* height: 120px;
    object-fit: cover; */
    height: 320px;
    object-fit: contain;
    padding: 1rem;
    border-radius: 10%;
    /* padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem; */
}


.popupOptions {
    margin: 0 15px;
}

.price-container {
    display: flex;
    /* justify-content: center; */
}

p.popupPrice {
    margin: 0 1rem;
    color: red;
}

.regPrice {
    color: #897e7e;
    text-decoration: line-through;
}

p.color {
    /* margin-top: 1rem; */
    margin: .5rem 1rem;
    margin-bottom: 0;
} 

.form-check-input:checked[type=radio] {
    /* --bs-form-check-bg-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e); */
    --bs-form-check-bg-image: none;
}

.form-check-input:checked {
    /* border-color: #fff; */
    border: 1px solid #fff;
}

/* Item Added Div */
.title-div {
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: 600;
}


.confirm-flex {
    display: flex;
    margin: 1rem;
    /* margin: 10px 1rem; */
}

.confirmDescription, .details-flex {
    font-weight: bold;
    font-size: 10px;
    /* margin: 1rem; */
    padding: 0 10px;
}

.confirmImg {
    width: 30%;
    height: 50%;
    border-radius: 5px;
}

.details-flex {
    font-weight: 400;
}

.cartBtns {
    font-family: 'Poppins', sans-serif;
    /* text-transform: uppercase; */
    /* font-size: 12px; */
}


.confirmColor {
    margin: 0;
}

.continueShopping {
    /* width: 100%; */
    /* border-radius: 20px; */
    background-color: red;
    /* color: white; */
    margin: 10px 0;
    /* text-transform: uppercase; */
    /* padding: 0.74px 2rem; */
/* font-size: 14px; */
}

.goToCart {
    /* width: 100%; */
    /* border-radius: 20px; */
    background-color: black;
    /* color: white; */
    /* text-transform: uppercase; */
}

.btn {
    width: 100%;
    border-radius: 20px;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    /* font-size: 14px; */
    font-size: 12px;
    padding: 5px;
}

/* .form-check {
    display: block;
min-height: 1.5rem;
margin: auto 2px;
padding-left: initial;
margin-bottom: initial;
border: 2px solid #000;
border-radius: 50px;
} */


.title-sizes {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    /* color: #ff0000; */
    /* text-transform: uppercase; */
}

.disabledSizes{
opacity:.4;
pointer-events:none;
}

ul.sizes-list {
    display: flex;
    margin: 0;
    padding: 0;
}

ul.sizes-list li:hover {
    cursor: pointer;
}

.sizes, .sizeChart-title {
    margin: 0;
    padding: 0;
}

.sizeChartContainer {
    position: relative;
    display: none;
}

.sizeChart-title {
    text-decoration: underline;
    cursor: pointer;
}

.size_Chart {
    /* display: none; */
    width: 100%;
}

.chart_close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}

.chart_close:hover {
    cursor: pointer;
}

li.size {
    list-style-type: none;
    margin: .5rem;
    border: .5px solid black;
    width: 35px;
    text-align: center;
    /* font-weight: 600; */
}

.free-store-pickup, .ship-to-me {
    width: 50%;
    border: 1px solid black;
    /* background-color: beige; */
    /* background-color: lightgrey; */
    /* color: green; */
    color: #ff0000;
    font-size: 14px;
    font-weight: 600;
    margin: .5rem;
}

.store {
    margin-bottom: 0;
    margin-top: 1rem;
    margin-left: 1rem;
}

.delivery-options {
    display: flex;
}

.pick-up {
    margin-top: 1rem;
}

.highlight {
    /* border: 2px solid #000 !important; */
    border: 2px solid #ff0000 !important;
}

.ship {
    margin-top: 1rem;
}

.disabled {
    /* color: #8080804d; */
    color: #8080804d !important;
    background-color: initial !important;
    border: 1px solid #8080804d !important;
}

/* .removeItemContainer {
    display: none;
}

.fixed-container {
    position: relative;
}

.showRemoveItemContainer {
    display: block;
    border: 1px solid black;
    margin: 2rem;
    padding: 1rem;
    text-align: center;
    background-color: #adb5bd;
    border-radius: 5px;
    position: absolute;
    top: 0;
    color: white;
}

button.accept {
    padding: 0.75px 2rem;
    color: green;
}

button.decline {
    padding: 0.75px 2rem;
    color: red;
} */

.avail-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.availability {
    text-align: center;
}

.store-img {
    margin-right: .5rem;
}

.delivery-img {
    width: 50px;
}

.add_quantity {
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}

/* .inputContainer {
    display: flex;
} */

.addForm {
    padding: 0;
}

p.full-details {
    margin: 1rem;
    text-align: center;
    font-weight: 600;
}

.active {
display: block;
    border: .5px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* height: 100vh; */
    /* position: absolute; */
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    width: 18rem;
    z-index: 9999;
}

.caro-active {
    display: block;
}

.cart {
    position: relative;
}

.count-container {
    /* background-color: yellow; */
    background-color: #ff0000;
    border-radius: 20px;
    display: inline-block;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    margin: 1px 12px;
    font-size: 12px;
}

.countItem {
    /* padding-left: 4px;
    padding-bottom: 4px; */
    /* padding: 0px 0px 1px 6px; */
    /* padding: 1px 3px; */
    /* padding: 1.5px 3px; */
    text-align: center;
    color: #ffffff;
    /* font-size: 10px; */
    /* position: absolute;
    top: 0; */
}

/* .active {
    display: block;
} */

a.cartBTN1.btn.btn-primary.shop-item-button {
    margin: auto;
    display: block;
    font-size: 12px;
}

.real-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* .real-flex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
    max-width: 1200px;
    margin: auto;

} */

.pants {
    width: 60%;
    margin: auto;
    display: block;
}

p#copyWrite {
    font-size: 20px;
    margin-top: 2rem;
}

/* clothing */
.clothing {
    text-align: center;
}

/* shop page items styles */
span.shop-item-id {
    display: none;
}

span.shop-item-title {
    color: black;
}

.cart-item-details {
    text-align: center;
    padding: 2rem;
}

span.shop-item-price {
    padding: 1rem;
}

button.cartBTN1.btn.btn-primary.shop-item-button {
  -webkit-box-shadow: inset 2px 2px 5px #c1c1c1;
     -moz-box-shadow: inset 2px 2px 5px #c1c1c1;
          box-shadow: inset 2px 2px 5px #c1c1c1;
   outline: none;
}

button.cartBTN1:after, button.cartBTN2:after {
    content: '';
}

button.cartBTN:after {
    content: '';
}

button.cartBTN2.btn.btn-primary.shop-item-button {
  -webkit-box-shadow: inset 2px 2px 5px #c1c1c1;
     -moz-box-shadow: inset 2px 2px 5px #c1c1c1;
          box-shadow: inset 2px 2px 5px #c1c1c1;
   outline: none;
}

button.cartBTN {
  -webkit-box-shadow: inset 2px 2px 5px #c1c1c1;
     -moz-box-shadow: inset 2px 2px 5px #c1c1c1;
          box-shadow: inset 2px 2px 5px #c1c1c1;
   outline: none;
}

/* shop page carousel button styles */
button.carousel-control-prev {
    /* background-color: black; */
    margin-left: 6rem;
}
button.carousel-control-next {
    /* background-color: black; */
    margin-right: 6rem;
}

/* .w-100 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
} */

/* deutchland black shirt*/
.shirtImg {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.blackSweaterRight {
    width: 68.5% !important;
    margin-left: auto;
    margin-right: auto;
}
.blackSweaterLeft {
    width: 65.6%;
}

/* duetschlandautohaus black sweatpants */
img.pantsImg {
    width: 35%;
    /* height: 70%; */
}

/* duetschlandautohaus grey beanie img */
.beanieImg {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}


/* form login and register page styles */
button.login::after, button.register::after {
    content: '';
};

/* error page styles */
img.errorNotif {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

iframe {
    /* width: 300px; */
    width: 100%;
    margin-left: 1rem;
}

/* EMPTY CART */
.empty-cart {
    margin-bottom: 1rem;
    /* font-family: 'changa', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    /* color: red; */
    font-size: 25px;
    text-transform: capitalize;
}

.shoppingCartImage1 {
    width: 100px;
} 

/* MEDIA BREAK POINT 768PX */
@media(min-width: 768px) {
/* hero grid */
.hero-grid {
    grid-template-columns: 1fr 1fr;
text-align:center;
/* gap: 40px; */
padding: 0 20px;
height: 100vh;
}

.flex2 {
    display: flex;
    margin: 5rem 0;
}

div#protect-action {
    /* width: 250px; */
    width: 300px;
    margin: auto;
}

.options {
    width: 220px;
}

.main-products {
    width: 200px;
    height: 220px;
}

.description-container {
    padding: 5px 0;
    font-size: 18px;
    width: 200px;
}

.description-title, .sweater {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
/* hero banner */
/* .deutchland {
    font-size: 50px;
}

.shop {
    width: 22px;
    height: 35px
} */

.black.shop, .red.shop, .yellow.shop {
    height: 32px;
    width: 20px;
}

.deutchland.shop {
    /* font-size: 50px; */
    font-size: 48.2px;
}

.flag-container {
    /* margin-top: -25px; */
    margin-top: -23px;
}

.black.autohaus.shop, .red.autohaus.shop {
    width: 25px;
    height: 15px;
    margin-left: -5px;
}

.yellow.autohaus.shop {
    /* width: 25px; */
    height: 15px;
    margin-left: -5px;
}

/* #exclusive-shop {
    margin-top: 2px !important;
} */
 /* .black.autohaus, .yellow.autohaus, .red.autohaus {
    margin-top: 2.3px !important;
 } */
  /* .flag-container {
    margin-top: 2.3px !important;
  } */

/* .p {
    font-size: 10px;
    padding-right: 16px;
    color: #fff !important;
} */

/* deutschland autohaus flag */
.cart {
    /* font-size: 55px; */
    font-size: 48.2px;
}

.add_quantity {
    display: flex;
    justify-content: space-around;
}

.flag-container-cart {
    margin-left: -12px;
    margin-top: -23px;
}

.autohaus-cart {
    margin-bottom: -30px;
}

.black.autohaus.cart, .yellow.autohaus.cart, .red.autohaus.cart {
    height: 15px;
    width: 20px;
}
/* hero-sweater */
.hero-product {
    position: static;
}
.hero-sweater {
    /* transform: rotate(10deg);
width: 280px; */
max-width: 420px;
transform: rotate(15deg);
}

.hero-text {
    position: static;
}
/* sign in styles */
.signInName {
    margin-bottom: 0rem;
}

/* Hero Product Backlight */
.product-light {
    margin-bottom: 20rem;
}

/* Product Cards */
.radio-flex {
    width: 200px;
    margin: auto;
}

/* .form-flex {
    display: flex;
    margin: 5px 10px;
} */

.addToCart {
    margin: auto;
    display: block;
    width: 100%;
}

/* Carousel-inner */
.carousel-inner {
    /* height: 40vh; */
    height: 18rem;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 10rem;
}

    /* textBox Carousel*/
p.textBox {
    font-size: 2rem;
    padding: 3rem;
    animation: slide-down 2s;
}

@keyframes slide-down {
    from {
        opacity: 0.2;
        line-height: 300px;
}

    to {
        opacity: 1;
        line-height: 50px;
}
}

/* headings */

h4 {
    font-size: 2rem;
}

p.text {
    font-size: 1.5rem;
}

/* Login Form headings */
.h5.card-title.text-center {
    margin-top: 2rem;
}

/* Register Form headings */
h5.card-title.text-center {
    margin-top: 2rem;
}

/* image cars*/
img.makesBlue {
    width: 50%;
    height: 100%;
    margin-top: 5rem;

}

img.makes {
    margin-top: 48px;
}


/* features section*/
.flex {
    display: flex;
}

p.paragraph {
    margin-left: 3rem;
    margin-top: 5rem;
    margin-bottom: 10px;
}

ul {
    margin-left: 5rem;
}

/* Items Section */

.Jello {
    width: 100%;
    margin-bottom: 2rem;
}

/* oem parts section */
.field {
    display: flex
}

img.oemparts {
    width: 50%;
}

.oemdescription {
    margin-top: 2rem;
    padding: 2rem;
}


/* service section */

.field.service {
    flex-direction: row-reverse;
}

img.service {
    width: 50%;
}

.servicedescription {
    margin-top: 2rem;
    padding: 2rem;
}

/* experience section */
img.experience {
    width: 50%;
}

img.makes {
    width: 50%;
    margin-top: 48px;
}

.experiencedescription {
    margin-top: 2rem;
    padding: 2rem;
}

/* Testimonial section */
.ff {
    display: flex;
}

img.carouselImage {
    width: 20% !important;
    margin-top: 1rem;
    height: 130px;
    margin-left: 100px;
}

p.reviews {
    margin-top: 2rem;
    padding-right: 5rem;
}

/* form section */
h4.contact {
    font-size: 20px;
}

.form-group {
    margin-left: 5rem;
}

/* form group input */
input#image {
    min-width: min-content;
    /* font-size: 11px; */
    font-size: initial;
    max-width: 73%;
}

label {
    text-align: initial;
}

/* img.blackbmw form */
img.blackBmw {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/* Shop Styles 768px*/
/* carousel */
.carousel-caption.d-md-block {
    font-size: 20px;
    padding-top: 5rem;
    z-index: 0;

}

.carousel-indicators {
    margin-top: 15rem;
}

/* cart content */
/* .cartContent {
    margin-top: 50%;
} */

/* button alignment */
/* .accessory {
    text-align: center;
} */

/* shop page item/clothing styles */
/* #card-accessory {
    margin-left: 1rem !important;
    box-shadow: 5px 5px rgb(129, 129, 129);
} */

/* button */
button.cartBTN {
    /* margin-bottom: 2rem; */
    /* background-color: #4d4d4d; */
    border-radius: 5px;
}

/*  footer */
h6.text-uppercase.fw-bold {
    text-align: center;
}

hr.mb-4.mt-0.d-inline-block.mx-auto {
    width: 150px !important;
}

/* Products link */
hr.mb-4.mt-0.d-inline-block.mx-auto.products {
    width: 100px !important;
}

/* Contact link */
hr.mb-4.mt-0.d-inline-block.mx-auto.contact {
    width: 200px !important;
}

/* flex4 div container */
/* .flex4 {
    display: flex;
    justify-content: space-around;
} */

/* 768px shoppingcart page styles */
span.item, span.price, span.quantity {
    /* margin: 6rem; */
    /* margin-left: 9.3rem;
    margin-top: 5rem; */
    /* margin-left: 3.5rem; */
    font-size: 15px;
}

/* span quantity */
/* span.quantity {
    margin-left: 9.2rem;
} */
/* 768px shopping cart .cart-row styles */
.cart-row {
    /* display: flex; */
    margin: 1rem auto;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* background-color: #f5f5dc; */
}

/* 768px shoppingcart page styles .cart-item-image */
img.cart-item-image {
    /* width: 30%; */
    /* width: 40%;
    margin: 1rem; */
    border-radius: 5%;
}

/* 768px shoppingcart page styles .cart-item-name */
p.cart-item-name {
    font-size: 15px;
}

/* 768 shoppingcart page styles span.cart-title */
span.cart-title {
    margin-left: 1rem;
}

/* span.item::after {
    width: 30px;
} */

/* span.price::after {
    width: 35px;
} */

/* 768px cart item-column */
.cart-item.cart-column {
    display: flex;
    align-items: center;
    /* width: 20%; */
}


/* 768px shoppingcart page styles .cart-item-price */
    .cart-item-price {
        /* margin-right: 5.5rem;
        /* margin-right: 4rem; */
        /* margin: 4rem 2rem; */
        margin: 1rem;
        /* font-size: 20px; */
        /* font-size: 18px; */
}

.item-title-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* 768px shopppingcart page input.cart-quantity-input styles */
input.cart-quantity-input {
    width: 3rem;
    /* margin-right: 1rem; */
    /* margin-right: 0.5rem; */
    /* height: 2rem; */
    /* text-align: center; */
    /* font-size: 15px; */
}

/* 768px shoppingcart item added popup*/
.itemActive {
position: fixed;
top:0;
right:0;
left: 0;
/* width: 80%; */
width: 50%;
margin: 5rem auto;
}

.confirm-flex {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.confirmDescription, .details-flex {
    font-size: 15px;
}

.confirmPrice {
    font-size: 15px;
}

/* order's section */
.orders-section {
    width: 100%;
}

/* .order-summary-div {

} */

/* .cart-items {
    width: 50%;
} */
/* 768px shoppingcart page styles .cart-quantity.cart-column */
    /* .cart-quantity.cart-column {
        margin-left: 5rem;
        margin-right: 5rem;
        margin-right: 2rem;
} */

/* 768px shoppingcart page styles button.btn.btn-danger */
button.btn.btn-danger {
    /* font-size: 14px; */
    font-size: 12px;
}

/* 768px shopping cart purchase button styles */
button.btn.btn-purchase {
    font-size: 12px;
    margin-right: 2rem;
}


iframe {
    width: 100%;
}

}

@media(min-width: 1024px) {
/* sign in styles */
.signInName {
        margin-bottom: 0.5rem;
}

/* nav link in header */
.nav-link {
    margin-bottom: 0;
}

/* carousel textbox */
p.textBox {
    padding: 5rem;
    margin-top: 1rem;
}

/* heading underline */
h4::after {
    margin-left: 15rem;
}

/* features ul*/
ul {
    margin-left: 3rem;
}

/* carousel image */
img.carouselImage {
    width: 15% !important;
    height: 150px;
}


/* Testimonials reviews */
p.reviews {
    font-size: 15px;
}

span#reviews {
    font-size: 14px;
}

/* form bmw image */
img.blackBmw {
    width: 60%;
}

/* form contact underline */

h4.contact {
    margin-top: initial;
}

h4.contact::after {
    /* margin-left: 14rem; */
    margin-left: auto;
}

/* footer styles */
hr.mb-4.mt-0.d-inline-block.mx-auto {
    width: 100% !important;
}
/* Product styles */
hr.mb-4.mt-0.d-inline-block.mx-auto.products {
    width: 140px !important;
}

/* careers page form input styles */
input#image {
    max-width: 76%;
}

/* shopping cart 1024 styles */
/* span.item, span.price, span.quantity */
span.item, span.price, span.quantity {
    /* margin: 8.5rem; */
    font-size: 20px;
    /* margin-left: 9.3rem; */
    text-align: center;
}

/* span.price {
    margin-right: 6rem;
    margin-left: 10rem;
    margin-left: 3.5rem;
} */

/* span.quantity {
    margin-left: 13.5rem;
} */

/* 1024px span.item:: after */
/* span.item::after {
    width: 50px;
} */

span.price::after span.quantity::after {
    width: initial;
}

/* 1024 image shopping cart styles */
img.cart-item-image {
    /* width: 40%; */
    width: 80%;
    margin: 1rem;
    border-radius: 5%;
}
/* 1024 cart-item-name shopping cart styles */
p.cart-item-name {
    font-size: 20px;
}

/* 1024 cart-item-price shopping cart styles */
    .cart-item-price {
        /* margin-right: 6rem; */
            /* margin-right: 10rem; */
            /* margin-right: 8.5rem; */
            /* margin-right: 9.5rem; */
        /* font-size: 20px; */
        font-size: 15px;
}
/* 1024 cart-quantity.cart-column shopping cart styles */
.cart-quantitty.cart-column {
    margin-left: 5rem;
    margin-right: 7rem;
}
/* 1024 input.cart-quantity-input shopping cart styles */
input.cart-quantity-input {
    width: 5rem;
    /* height: 3rem; */
    /* height: 2.8rem; */
    /* margin-right: 1rem; */
    text-align: center;
}
/* 1024 button.btn.btn-danger shopping cart styles */
/* button.btn.btn-danger {
    font-size: 20px;
} */

/* 1024 purchase button styles */
button.btn.btn-purchase {
    /* font-size: 20px; */
    /* font-size: 15px; */
    margin-right: 2rem;
}

/* 1024 cart total div */
.cart-total {
    margin-bottom: 2rem;
}

.cart-total-title, .cart-total-price {
    font-size: 25px
}

/* 1024 .carousel-inner for carousel images shopping cart styles */
.carousel-inner {
    /* height: 45vh; */
    height: 20rem;
}

iframe {
    width: 100%;
}
}